live_config_reload = true

import = [
    "~/.config/alacritty/themes/monokai.toml"
]

[env]
TERM = "alacritty"
WINIT_X11_SCALE_FACTOR = "1"

[font]
size = {{ machine.font_size }}

[font.bold]
family = "JetBrainsMono"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono"
style = "Italic"

[font.normal]
family = "JetBrainsMono"
style = "Regular"

[selection]
save_to_clipboard = true

[window]
dynamic_title = true
title = "[terminal]"

[window.padding]
x = 3
y = 3
