[submodule "pkgbuilds/spotify"]
	path = pkgbuilds/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "pkgbuilds/nodejs-intelephense"]
	path = pkgbuilds/nodejs-intelephense
	url = https://aur.archlinux.org/nodejs-intelephense.git
[submodule "pkgbuilds/portfolio-performance-bin"]
	path = pkgbuilds/portfolio-performance-bin
	url = https://aur.archlinux.org/portfolio-performance-bin.git
[submodule "pkgbuilds/terraform-ls-bin"]
	path = pkgbuilds/terraform-ls-bin
	url = https://aur.archlinux.org/terraform-ls-bin.git
[submodule "pkgbuilds/grm-git"]
	path = pkgbuilds/grm-git
	url = https://aur.archlinux.org/grm-git.git
[submodule "pkgbuilds/screencfg-git"]
	path = pkgbuilds/screencfg-git
	url = https://aur.archlinux.org/screencfg-git.git
[submodule "pkgbuilds/google-earth-pro"]
	path = pkgbuilds/google-earth-pro
	url = https://aur.archlinux.org/google-earth-pro.git
[submodule "pkgbuilds/aws-sam-cli"]
	path = pkgbuilds/aws-sam-cli
	url = https://aur.archlinux.org/aws-sam-cli.git
[submodule "pkgbuilds/python-boto3-stubs"]
	path = pkgbuilds/python-boto3-stubs
	url = https://aur.archlinux.org/python-boto3-stubs.git
[submodule "pkgbuilds/python-botocore-stubs"]
	path = pkgbuilds/python-botocore-stubs
	url = https://aur.archlinux.org/python-botocore-stubs.git
[submodule "pkgbuilds/python-chevron"]
	path = pkgbuilds/python-chevron
	url = https://aur.archlinux.org/python-chevron.git
[submodule "pkgbuilds/python-aws-lambda-builders"]
	path = pkgbuilds/python-aws-lambda-builders
	url = https://aur.archlinux.org/python-aws-lambda-builders.git
[submodule "pkgbuilds/python-vdf"]
	path = pkgbuilds/python-vdf
	url = https://aur.archlinux.org/python-vdf.git
[submodule "pkgbuilds/protontricks"]
	path = pkgbuilds/protontricks
	url = https://aur.archlinux.org/protontricks.git
[submodule "pkgbuilds/slack-desktop"]
	path = pkgbuilds/slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "pkgbuilds/backblaze-b2"]
	path = pkgbuilds/backblaze-b2
	url = https://aur.archlinux.org/backblaze-b2.git
[submodule "pkgbuilds/python-class-registry"]
	path = pkgbuilds/python-class-registry
	url = https://aur.archlinux.org/python-class-registry.git
[submodule "pkgbuilds/python-rst2ansi"]
	path = pkgbuilds/python-rst2ansi
	url = https://aur.archlinux.org/python-rst2ansi.git
[submodule "pkgbuilds/claude-code"]
	path = pkgbuilds/claude-code
	url = https://aur.archlinux.org/claude-code.git
