[submodule "contrib/vim-plug"]
	path = contrib/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "ansible_roles/firefox"]
	path = ansible_roles/firefox
	url = https://github.com/staticdev/ansible-role-firefox
