exec --no-startup-id dropboxd &

set $path_i3status_config ~/.i3/i3status.d/netbook.conf

# bind some keys
bindsym XF86Sleep exec --no-startup-id $path_i3exit suspend
bindsym XF86AudioMute exec --no-startup-id amixer set Master toggle
bindsym XF86AudioRaiseVolume exec --no-startup-id amixer set Master %5+
bindsym XF86AudioLowerVolume exec --no-startup-id amixer set Master %5-

# start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    # always show at the bottom of the screen
    mode dock
    position bottom

    # show a tray area
    tray_output primary

    # show workspace buttons
    workspace_buttons yes

    id bar-1

    font pango:DejaVu Sans Mono 8

    colors {
        background #000000
        statusline #ffffff
        separator #666666

        focused_workspace  #4c7899 #285577 #ffffff
        active_workspace   #333333 #5f676a #ffffff
        inactive_workspace #333333 #222222 #888888
        urgent_workspace   #2f343a #900000 #ffffff
    }

    i3bar_command i3bar
    status_command i3status --config $path_i3status_config
}
