# bind some keys
bindsym XF86Sleep exec --no-startup-id $path_i3exit suspend
bindsym XF86AudioMute exec --no-startup-id amixer set Master toggle
bindsym XF86AudioRaiseVolume exec --no-startup-id bash $HOME/.i3/scripts/pa-volume.bash set-vol +5 ; exec --no-startup-id "bash $HOME/.i3/scripts/update-status.bash"
bindsym XF86AudioLowerVolume exec --no-startup-id bash $HOME/.i3/scripts/pa-volume.bash set-vol -5 ; exec --no-startup-id "bash $HOME/.i3/scripts/update-status.bash"
# keys seemingly switched
bindsym XF86MonBrightnessUp   exec --no-startup-id sudo /usr/local/bin/backlight.sh -10
bindsym XF86MonBrightnessDown exec --no-startup-id sudo /usr/local/bin/backlight.sh +10

bindsym XF86AudioPlay exec --no-startup-id mpc toggle

bindsym XF86AudioPrev exec --no-startup-id mpc prev
bindsym XF86AudioNext exec --no-startup-id mpc next

# font for window titles. ISO 10646 = Unicode
font pango:DejaVu Sans Mono 11


# start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    # always show at the top of the screen
    mode dock
    position top

    tray_output primary

    # show workspace buttons
    workspace_buttons yes

    id bar-0

    font pango:DejaVu Sans Mono, Icons 11

    colors {
        background #222222
        statusline #ffffff
        separator #e16b40

        focused_workspace  #e16b40 #222222 #ffffff
        active_workspace   #222222 #5f676a #ffffff
        inactive_workspace #222222 #222222 #bbbbbb
        urgent_workspace #000000 #de1e15 #000000
    }

    i3bar_command i3bar
    status_command bash ~/.i3/i3bar_wrapper.bash ~/.i3/conky/virtualarch.conkyrc
}
