# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
    interval = 1
    # color = '#FFFFFF'
    # color_good = '#00FF00'
    # color_bad = '#FF0000'
    # color_degraded = '#FFFF00'
    color = '#FFFFFF'
    color_good = '#FFFFFF'
    color_bad = '#F92672'
    color_degraded = '#F4Bf75'
}


order += "volume_status output"
order += "volume_status input"
order += spotify
order += "wifi"
order += "external_script presentation_mode"
order += online_status
order += "battery_level all"
order += "clock"

battery_level all {
    battery_id = "all"
    format = "   {icon}   {percent}% {time_remaining} "
    measurement_mode = "sys"
    charging_character = ""
    blocks = ""
    notification = true
    hide_when_full = false
    hide_seconds = true
    notify_low_level = true
    threshold_full = 95
}

clock {
    format = ["{DE}", "{NZ}", "{Cuba}", "{MX}", "{CZ}", "{NL}", "{VN}"]
    format_time = "      {name} \[KW %V\] %a %d.%m.%Y %H:%M:%S "
}

wifi {
    bitrate_bad = 0
    bitrate_degraded = 0
    format_down = "      down "
    format_up = "      {signal_percent} {ssid} "
}

spotify {
    format = "      {title} - {artist} "
    format_down = "      off "
    cache_timeout = 1
    color_offline = '#FFFFFF'
    on_click 1 = "exec $HOME/.i3/scripts/spotify-control toggle"
    on_click 3 = "exec $HOME/.i3/scripts/spotify-control next"
}

external_script presentation_mode {
    format = " Present: {output} "
    script_path = "$HOME/.i3/scripts/presentation-mode status"
    strip_output = True
    on_click 1 = "exec $HOME/.i3/scripts/presentation-mode toggle"

}

online_status {
    format = " {icon} "
}

volume_status output {
    cache_timeout = 10
    format = "      {percentage}% "
    format_muted = "      mute "
    thresholds = []
    command = "pactl"
    color_muted = '#FFFFFF'
}

volume_status input {
    cache_timeout = 10
    format = "      active "
    format_muted = "      mute "
    thresholds = [(0, 'good'), (1, 'bad')]
    command = "pactl"
    color_muted = '#FFFFFF'
    is_input = True
}
