[Unit]
After=windowmanager.target
Conflicts=color-theme-light.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env switch-color-mode dark
RemainAfterExit=true
PassEnvironment=DISPLAY
