[Unit]
BindsTo=windowmanager.target
After=windowmanager.target

Wants=blueman.service
Wants=discord.service
Wants=dpms.service
Wants=dunst.service
Wants=element.service
Wants=firefox.service
Wants=gpg-agent.service
Wants=gnome-keyring.service
Wants=keepassx.service
Wants=keyboard.service
Wants=laptop-lid.service
Wants=nextcloud.service
Wants=nm-applet.service
Wants=pasystray.service
Wants=redshift.service
Wants=restic.timer
Wants=screencfg.service
Wants=signal.service
Wants=spotify.service
Wants=steam.service
Wants=touchpad.service
Wants=wallpaper.timer
Wants=xresources.service
Wants=yubikey-touch-detector.service

