[Unit]
BindsTo=autostart.target
After=windowmanager.target
After=i3.service

ConditionEnvironment=MACHINE_HAS_DISCORD=true

[Service]
ExecStart=/usr/bin/discord
