[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env xset s off
ExecStart=/usr/bin/env xset dpms 0 0 300
PassEnvironment=DISPLAY
Restart=always
