[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
ExecStart=/usr/bin/env firefox --setDefaultBrowser -P default
Environment=DISPLAY=:0
