[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
ExecStart=/usr/bin/env firefox --profile %h/.mozilla/firefox/profile-%i
PassEnvironment=DISPLAY
Restart=always
