[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
ExecStart=/usr/bin/env gnome-keyring-daemon --start --foreground --components secrets
