[Unit]
BindsTo=autostart.target
After=windowmanager.target
ConditionPathExists=%h/.var/run/features/gpg_agent

[Service]
Type=forking
ExecStart=/usr/bin/env gpg-agent --homedir %h/.gnupg --no-detach --daemon
PassEnvironment=DISPLAY
Restart=always
