[Unit]
BindsTo=autostart.target
After=windowmanager.target
ConditionPathExists=%h/.var/run/features/gpg_agent

[Service]
Type=forking
ExecStart=/usr/bin/env gpg-agent --no-detach --daemon
PassEnvironment=DISPLAY GNUPGHOME

Restart=always
