[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --homedir %h/.gnupg --no-detach --daemon
