[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
ExecStart=/usr/bin/env kdeconnect-indicator
PassEnvironment=DISPLAY
Restart=always
