[Unit]
BindsTo=autostart.target
After=windowmanager.target
ConditionPathExists=%t/features/keepassxc

[Service]
ExecStart=/usr/bin/env keepassxc --keyfile %h/.secrets/main.keyx %h/.secrets/main.kdbx
PassEnvironment=DISPLAY
Restart=always
