[Unit]
BindsTo=autostart.target
After=windowmanager.target
ConditionEnvironment=MACHINE_HAS_KEEPASSX=true

[Service]
ExecStart=/usr/bin/env keepassx --keyfile %h/.secret/main.key %h/.secret/main.kdbx
Environment=DISPLAY=:0
