[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -layout de -variant nodeadkeys
ExecStart=/usr/bin/xset r rate 150 50
RemainAfterExit=true
