[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env setxkbmap -layout de -variant nodeadkeys
ExecStart=/usr/bin/env xset r rate 150 50
RemainAfterExit=true
Environment=DISPLAY=:0
