[Unit]
BindsTo=autostart.target
After=windowmanager.target
ConditionPathExists=%t/features/machine_is_laptop

[Service]
Type=oneshot
ExecStart=/usr/bin/env bash -c 'grep "^LID.*enabled" /proc/acpi/wakeup && echo " LID" | sudo tee /proc/acpi/wakeup || true'
RemainAfterExit=true
PassEnvironment=DISPLAY
