[Unit]
BindsTo=autostart.target
After=windowmanager.target

ConditionEnvironment=MACHINE_TYPE=laptop

[Service]
ExecStart=/usr/bin/env bash -c 'grep "^${ACPI_LID_NAME}.*enabled" /proc/acpi/wakeup && echo " ${ACPI_LID_NAME}" | sudo tee /proc/acpi/wakeup'
Environment=DISPLAY=:0
