[Unit]
BindsTo=autostart.target
After=windowmanager.target
After=gnome-keyring.service

ConditionPathExists=%t/features/nextcloud

[Service]
ExecStart=/usr/bin/env nextcloud --background
PassEnvironment=DISPLAY
Restart=always

MemoryHigh=20%
MemoryMax=30%
