[Unit]
BindsTo=autostart.target
After=windowmanager.target
After=gnome-keyring.service

ConditionPathExists=%h/.var/run/features/nextcloud

[Service]
ExecStart=/usr/bin/env nextcloud --background
PassEnvironment=DISPLAY
