[Unit]
BindsTo=autostart.target
After=windowmanager.target

ConditionEnvironment=MACHINE_HAS_NEXTCLOUD=true

[Service]
ExecStart=/usr/bin/nextcloud --background
