[Unit]
ConditionPathExists=%h/.var/run/features/restic_backup

[Service]
Type=oneshot
ExecStart=%h/restic/restic-backup
RemainAfterExit=true
PassEnvironment=DISPLAY
