[Unit]
BindsTo=autostart.target
After=windowmanager.target
ConditionEnvironment=MACHINE_DEFAULT_SCREENPROFILE

[Service]
Type=oneshot
# systemd.service(5):

# > The command to execute may contain spaces, but control characters are not
# > allowed.
ExecStart=/usr/bin/env bash -c '%h/.screencfg/${MACHINE_DEFAULT_SCREENPROFILE}.sh'
RemainAfterExit=true
Environment=DISPLAY=:0
