[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
ExecStart=/usr/bin/env spotify --audio-api=pulseaudio
PassEnvironment=DISPLAY
Restart=always
