[Unit]
BindsTo=autostart.target
After=windowmanager.target
After=i3.service

ConditionPathExists=%t/features/steam

[Service]
ExecStart=/usr/bin/env steam
PassEnvironment=DISPLAY
Restart=always
