[Unit]
BindsTo=autostart.target
After=windowmanager.target
After=i3.service

ConditionEnvironment=MACHINE_HAS_STEAM=true

[Service]
ExecStart=/usr/bin/env steam
Environment=DISPLAY=:0
