[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
Type=oneshot
ExecStart=/usr/bin/env xrdb -merge -I%h %h/.Xresources
RemainAfterExit=true
Environment=DISPLAY=:0
