[Unit]
BindsTo=autostart.target
After=windowmanager.target

[Service]
ExecStart=/usr/bin/env yubikey-touch-detector -libnotify
PassEnvironment=DISPLAY
