source /etc/profile

_path=(
    "$HOME/bin"
    "$HOME/.optbin"
    "$HOME/.cargo/bin"
)

for part in ${_path[@]} ; do
    PATH="${part}:$PATH"
done
export PATH

export EDITOR="helix"
export VISUAL="helix"
export BROWSER="firefox"

export PAGER="less"
export LESS="FRX"

export WINEPATH="$HOME/games/wine"

export LOGDIR="$HOME/.var/log"
export RUNDIR="$HOME/.var/run"
export LIBDIR="$HOME/.var/lib"
export BINDIR="$HOME/bin"

export LANG=en_US.UTF-8
export LC_TIME=de_DE.UTF-8
export LC_COLLATE=C

export DOTFILES=~/dotfiles

export GOPATH=~/.go
export PATH=$PATH:$(go env GOPATH)/bin

export ACPI_LID_NAME=LID

export QT_QPA_PLATFORMTHEME=qt5ct

umask 0022

{% set env = machine.environment | combine(user.environment) %}
{% for k, v in env.items() %}
export {{ k }}="{{ v }}"
{% endfor %}

export FEATURE_DIR="${RUNDIR}/features/"
rm -rf "${FEATURE_DIR}"/
mkdir -p "${FEATURE_DIR}"

[[ $MACHINE_HAS_NEXTCLOUD     == "true" ]] && touch "${FEATURE_DIR}"/nextcloud
[[ $MACHINE_HAS_KEEPASSX      == "true" ]] && touch "${FEATURE_DIR}"/keepassx
[[ $MACHINE_HAS_STEAM         == "true" ]] && touch "${FEATURE_DIR}"/steam
[[ $MACHINE_HAS_RESTIC_BACKUP == "true" ]] && touch "${FEATURE_DIR}"/restic_backup

[[ $MACHINE_TYPE == "laptop" ]] && touch "${FEATURE_DIR}"/machine_is_laptop

{% if user.gpg_agent %}
touch "${FEATURE_DIR}"/gpg_agent
{% endif %}

# Make all environment variables also usable in the systemd user instancee
systemctl --user import-environment

# exec startx breaks some logind fuckery, without exec it works
if [[ -z $DISPLAY ]] ; then
    if (( $XDG_VTNR == {{ user.vt }} )) ; then
        startx
    else
        tmux new-session -A -s tmux-tty-$XDG_VTNR
    fi
fi
