_path=("$HOME/bin"
       "/usr/local/sbin"
       "/usr/local/bin"
       "/usr/sbin"
       "/usr/bin"
       "/sbin"
       "/bin"
       "/usr/bin/core_perl"
       "/usr/games")

PATH=""
for part in ${_path[@]} ; do
    PATH="$PATH:${part}"
done
PATH="${PATH#:}"
export PATH

export EDITOR="nvim"
export VISUAL="nvim"
export BROWSER="firefox"

export PAGER="less"
export LESS="FRX"

export VIMRC="$HOME/.vimrc"

export WINEPATH="$HOME/games/wine"

export LOGDIR="$HOME/.var/log"
export RUNDIR="$HOME/.var/run"
export LIBDIR="$HOME/.var/lib"
export BINDIR="$HOME/bin"

export LANG=en_US.UTF-8
export LC_TIME=de_DE.UTF-8
export LC_COLLATE=C

export DOTFILES=~/dotfiles

export GOPATH=~/dev/go
export GOROOT=/usr/lib/go

export PATH=$PATH:$(go env GOPATH)/bin

export ACPI_LID_NAME=LID

umask 0022

{% for k, v in machine.environment.items() %}
export {{ k }}="{{ v }}"
{% endfor %}

# exec startx breaks some logind fuckery, without exec it works
if [[ -z $DISPLAY ]] ; then
    if (( $XDG_VTNR == {{ user.vt }} )) ; then
        startx
    else
        tmux new-session -A -s tmux-tty-$XDG_VTNR
    fi
fi
